<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0" />

<!-- importacao do css -->
<!--  <link rel="stylesheet" href="style/styleCss.css"> -->

<title>Retalhando - Cadastro de Retalho</title>

</head>


<body>

	<!-- header - navbar -->
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo logo">Conexão Retalho</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/eventos" class="waves-effect waves-light btn"><i
							class="material-icons left">format_list_bulleted</i>Lista de
							Eventos</a></li>
					<li><a href="/cadastrarEvento"
						class="waves-effect waves-light btn"> <i
							class="material-icons left">add_circle_outline</i>Cadastrar
							Evento
					</a></li>
					<li><a href="/logout" class="waves-effect waves-light btn">Logout</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- <div th:each="evento : ${evento}" class="container detalhesEvento"> -->
	<div class="container perfil">

		<h4 align="center">
			<span th:text="${retalho.codigo}"></span>
		</h4>
		<p><span th:text="${retalho.material}"></span></p>
		<p><span th:text="${retalho.cor}"></span></p>
		<p><span th:text="${retalho.qtde}"></span></p>
		
		
		<a
			th:href="${(#mvc.url('IC#cadastrarRetalho').arg(0, instituicao.cnpj).arg(1, retalho.codigo)).build()}"
			class="waves-effect waves-light btn"><i
			class="material-icons left">add_circle_outline</i>Agendar coleta</a>
</div>




	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>