<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		href="/materialize/css/materialize.min.css" media="screen,projection" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta charset="UTF-8"
		 name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- importacao do css -->
	<!--  <link rel="stylesheet" href="style/styleCss.css"> -->

<title>Retalhando - Cadastro de Empresas</title>

</head>
<body>

<!-- navbar -->
	<nav>
    <div class="nav-wrapper #00695c teal darken-3">
      <a href="#" class="brand-logo">Conexão Retalho</a>
      <ul id="nav-mobile" class="right ">
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
        <li><a href="/">Inicio</a></li>
        <li><a href="/cadastrar/ong">Cadastrar ONG</a></li>
      </ul>
    </div>
  </nav>

	<!-- formulario de cadastro de empresas -->
	<th:block th:include="mensagemValidacao"></th:block>
	<form class="container formCadastro" method="post">
		<h5>Cadastrar Empresa</h5>
	
			
		<!-- dados da empresa -->
		<h6>Dados da empresa</h6>
			Nome: <input type="text" value="" name="nomeInstituicao" required="required"/>
			CNPJ: <input type="text" value="" name="cnpj" required="required"/>
			<span class="mensagem" th:if="${cnpjExiste}" th:text="${cnpjExiste}"></span>
			
			E-mail: <input type="text" placeholder="email de cadastro da instituição"  value="" name="emailCadastro" required="required"/>
            Senha: <input type="password" placeholder="senha"  value="" name="senha" required="required"/>
		
		<!-- endereco endereco -->
		<h6>Endereço</h6>
		
			<div class="row">
				<div class="input-field col s3">	
					CEP: <input type="text" value="" name="cep" required="required"/>
				</div>	
				<div  class="input-field col s9">
					Rua: <input type="text" value="" name="rua" required="required"/>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s1">
					Numero: <input type="text" value="" name="numero" required="required"/>
				</div>
				<div class="input-field col s2">
					Complemento: <input type="text" value="" name="complemento" required="required"/>
				</div>
				<div class="input-field col s3">
					Bairro: <input type="text" value="" name="bairro" required="required"/>
				</div>
				<div class="input-field col s3">
					Cidade: <input type="text" value="" name="cidade" required="required"/>
				</div>
				<div class="input-field col s3">
					Estado: <input type="text" value="" name="estado" required="required"/>
				</div>
			</div>

		<!-- responsaveis -->
		<h6>Responsavel 1</h6>
			Nome: <input type="text" value="" name="nome" required="required"/>
			<div class="row">
				<div class="input-field col s8">
					email: <input type="text" value="" name="email" required="required"/>
				</div>
				<div class="input-field col s4">
					telefone: <input type="text" value="" name="telefone" required="required"/>
				</div>
			</div>

		<button class="waves-effect waves-light btn" type="submit">Salvar</button>

	
	</form>


	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>