<!DOCTYPE html>
<html lang="pt-br"
 	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">	
	
	<head>
	
	<title>Lista de Empresas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<!--Import Google Icon Font-->		
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">		
		<link rel="stylesheet" href="/bootstrap/sidebar/css/style.css">
	</head>
	<body>
	
			<!-- header - navbar -->		
			
			    <div class="wrapper d-flex align-items-stretch">			    
			    	<nav id="sidebar">
						<div class="p-4 pt-5">
		  					<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/style/img/logo-fundo.jpeg);"></a>
	        			<ul class="list-unstyled components mb-5">
	        			
		        			<li>		        					        				
		        				<a href="/perfil">Perfil</a>
		        			</li>
		        			<li>
		        				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Buscar</a>
	              				<ul class="collapse list-unstyled" id="pageSubmenu">
		        			<li>
			                    <a href="/listaEmpresas">Buscar Instituição</a>                    
			                </li>
			                <li>
			                    <a href="#">Buscar Retalho</a>
			                </li>
			              	</ul>
				          	</li>
		        			
		        			<li>		        				
					             <a href="/principal">Cadastrar retalho</a></tr>
					             				             	
					         </li>
					          <li>
					             <a href="#">Feedback</a>
					          </li>
					          <li>
					             <a href="/logout">Logout</a>			
		        			  </li>	      
			      
			      </ul>
			      
			      <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        	  </div>
			      
			    </div>
	 		</nav>	
		
		 <!-- Page Content  -->		 
		 <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/principal">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
		 
		<!-- Buscar listas de Empresas-->
		<form action="listaEmpresas" class="container formCadastro" method="get">
            
                <h5 style="text-align:center">Instituições</h5>               
                
                <div id="divBusca">
                     <a><i class="fa fa-search"></i> Pesquisar por nome:</a></br>       
                      <input name="buscarnome" type="text" id="txtBuscar" placeholder="Buscar..." required="required">
                      <button id="txtBuscar" class="waves-effect waves-light btn" type="submit" value="Buscar" style= "background-color: violet;" >Buscar</button>                
                </div>
        </form>

		    <!--  lista de empresas -->
		    <table class="container">        
		            <th>Nome das Instituições</th>    
		                <tr th:each ="instituicao: ${instituicoes}">
		                    <td><a th:href="${(#mvc.url('IC#perfilEmpresa').arg(0, instituicao.cnpj)).build()}"><span
		                        th:text="${instituicao.nomeInstituicao}"></span></a></td>
		                     <td>Responsáveis:  <span th:text="${instituicao.nomeInstituicao}"></span></td>                    
		                </tr>
						</table>  
				</tbody>
		
	  	
	  	<script src="/bootstrap/sidebar/js/jquery.min.js"></script>
	    <script src="/bootstrap/sidebar/js/popper.js"></script>
	    <script src="/bootstrap/sidebar/js/bootstrap.min.js"></script>
	    <script src="/bootstrap/sidebar/js/main.js"></script>
</body>
</html>