<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Perfil</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="/style/cad/vendor/mdi-font/css/material-design-iconic-font.min.css"
	rel="stylesheet" media="all">
<link href="/style/cad/vendor/font-awesome-4.7/css/font-awesome.min.css"
	rel="stylesheet" media="all">
<!-- Font special for pages-->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Vendor CSS-->

<!-- Main CSS-->
<link href="/style/cad/css/main.css" rel="stylesheet" media="all">

<link
	href="/style/cad/vendor/mdi-font/css/material-design-iconic-font.min.css"
	rel="stylesheet" media="all">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/bootstrap/sidebar/css/style.css">
</head>
<body>

	<div class="wrapper d-flex align-items-stretch">


		<nav id="sidebar">
			<div class="p-4 pt-5">
				<a href="#" class="img logo rounded-circle mb-5"
					style="background-image: url(/style/img/logo-fundo.jpeg);"></a>
				<ul class="list-unstyled components mb-5">

					<li><a href="/perfil">Perfil</a></li>
					<li><a href="#pageSubmenu" data-toggle="collapse"
						aria-expanded="false" class="dropdown-toggle">Buscar</a>
						<ul class="collapse list-unstyled" id="pageSubmenu">
							<li><a href="/listaEmpresas">Buscar Instituição</a></li>
							<li><a href="#">Buscar Retalho</a></li>
						</ul></li>
					<li><a
						th:href="${(#mvc.url('IC#cadastrarProdutos').arg(0, ong.cnpj)).build()}">Cadastrar
							produto</a></li>
					<li><a href="#">Feedback</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>

				<div class="footer">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="icon-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib.com</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

			</div>
		</nav>
		
		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="btn btn-primary">
						<i class="fa fa-bars"></i> <span class="sr-only">Toggle
							Menu</span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto"
						type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<i class="fa fa-bars"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item active"><a href="/perfil"
								class="linkPagInicial"> <i class="fa fa-chevron-left"></i>
									Voltar
							</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="container" align="center">


				<div class="card ">

					<div class="card-body">
						<form method="POST" action="#">

							<h5 align="center">
								<span th:text="${ong.nomeInstituicao}"></span>
							</h5>
							<h6 align="center">Cadastrar Produto</h6>

							<div class="input-group">
								<label class="label">Nome Produto:</label> <input
									class="input--style-1" th:value="${produto.nome}" type="text" name="nome" 
									required="required" placeholder="ex: Estojo de retalho">
							</div>
							<div class="input-group">
								<label class="label">Preço:</label> <input class="input--style-1"
									type="text"  th:value="${produto.preco}" name="preco" required="required"
									placeholder="ex: 10.00">
							</div>
							<div class="input-group">
								<label class="label">Descrição:</label> <input
									class="input--style-1" type="text"  th:value="${produto.descricaoo}" name="descricaoo"
									required="required" placeholder="ex: Estojo feito com retalhos de jeans">
							</div>
							<div class="input-group">
								<label class="label">Tamanho:</label> <input
									class="input--style-1" type="text"  th:value="${produto.tamanho}" name="tamanho"
									required="required" placeholder="ex: 20 cm">
							</div>


							<div class="btn-next-con">

								<button href="/principal" class="btn-last" type="submit">Salvar</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script src="/bootstrap/sidebar/js/jquery.min.js"></script>
	<script src="/bootstrap/sidebar/js/popper.js"></script>
	<script src="/bootstrap/sidebar/js/bootstrap.min.js"></script>
	<script src="/bootstrap/sidebar/js/main.js"></script>

</body>
</html>