<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		href="/materialize/css/materialize.min.css" media="screen,projection" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta charset="UTF-8"
		 name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- importacao do css -->
	<!--  <link rel="stylesheet" href="style/styleCss.css"> -->

<title>Retalhando - Cadastro de Retalho</title>

</head>


<body>

	<!-- header - navbar -->
	<header>
		<nav>
		    <div style = "background: Black"class="nav-wrapper">
		      <a href="#" class="brand-logo logo">Conexão Retalho</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/listaEmpresa" class="waves-effect waves-light btn"><i
					class="material-icons left">format_list_bulleted</i>Lista de Instituições</a></li>
				<li><a href="/cadastrar-empresa" class="waves-effect waves-light btn">
					<i class="material-icons left">add_circle_outline</i>Cadastrar Empresa</a></li>
				<li><a href="/logout" class="waves-effect waves-light btn">Logout</a></li>
		      </ul>
		    </div>
 		</nav>
	</header>

	<!-- <div th:each="evento : ${evento}" class="container detalhesEvento"> -->
	<h6>cadastre seu produto agora</h6>
		
	
	<div class="container perfil">

		</div>

			
			
		</div>
	<h4 align="center" > Cadastrar Produto </h4>
		<div class="row" th:each="produto : ${linsittuicao}">
			<p>Nome da Ong: <span th:text="{instituicao.nome}"></span></p>
			<p>Descriminação: <span th:text="{instituicao.descriminação}"></span></p>
			<p>Tamanho: <span th:text="{instituicao.tamanho}"></span></p>
			
			<p>Quantidade: <span th:text="{instituicao.qtde}"></span></p>
		
	</div>
			<div class="row">
				<div class="input-field col s4">	
					Nome Produto: <input type="text" value="" name="nome" required="required"/>
				</div>	
				<div  class="input-field col s4">
					Preço: <input type="text" value="" name="preco" required="required"/>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					Descrição: <input type="text" value="" name="descricao" required="required"/>
				</div>
				<div class="input-field col s4">
					Tamanho: <input type="text" value="" name="tamanho" required="required"/>
				</div>
</div>
		<button class="waves-effect waves-light btn" type="submit">Salvar</button>
		
		<table class=container>
      <thead>
         <tr>
         <th> Nome das Ongs </th>
      
         </tr>
      </thead>
      <tbody>
   <tr th:each="produto	 : ${lproduto}">
  	 <td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, produto.codigo)).build()}"><span th:text= "${produto.nome}"></span></a></td>
   
            <td><span th:text= "${instituicao.nome}"></span></td>
            <td><span th:text= "${instituicao.preço}"></span></td>
            <td><span th:text= "${instituicao.descricao}"></span></td>
            <td><a th:href="${(#mvc.url('EC#deletarProduto').arg(0, produto.codigo)).build()}"><i class="material-icons">delete</i></a></td>
            <td><a th:href="${(#mvc.url('EC#editarProduto').arg(0, produto.codigo)).build()}"><i class="material-icons">edit</i></a></td>
         
         
             
          </tr>    
     </tbody>
  </table>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>