<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		href="materialize/css/materialize.min.css" media="screen,projection" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta charset=UTF-8
		name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- importacao do css -->
	<link rel="stylesheet" href="style/styleCss.css">
	
	<title>Login</title>
</head>


<body>
	
	<!-- header - navbar -->
	<header>
        <nav class="menu">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Login</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
              	<li><a href="/" class="waves-effect waves-light btn">Página Inicial</a></li>
              </ul>
            </div>
        </nav>
    </header>
    
    <!-- formulario de login -->
    
    <form class="container login" method="post">
    <h5>Retalhando login</h5>
    	<div>CPF: <input type="text" value="" name="username" /></div>
    	<div>Senha:  <input type="password" value="" name="password" /></div>
    	
    	<div><input class="waves-effect waves-light btn btnAcessar" type="submit" value="Login" /></div>
    </form>
    
    
    <!-- imports do javascript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>